@font-face {
	font-family: Cabin-SemiBold;
	font-weight: bold;
	src: url("fonts/Cabin-SemiBold.otf") format("opentype");
}

* { 
	font-family: Cabin-SemiBold;
	color: #333;
}

.main {
	margin: 0 auto;
	width: 20em;
}

.calculator {
	width: 17em;
	margin: 0 auto;
}

.title {
	font-size: 4em;
	width: 4.4em;
	margin: 0 auto;
}

.calculator-button {
	border: none;
	height: 3em;
	width: 3em;
	margin: .5em;
	font-size: 1em;
	cursor: pointer;
}

.text-field-container {
	margin: 0 auto;
	width: 15.625em;
}

.text-field-input {
	border: .1em solid #333;
	height: 1em;
	padding: .5em;
	text-align: right;
	letter-spacing: .4em;
}

.button-row-container 
{	margin: 0 auto;
	width: 15.625em;
	white-space: nowrap;
}

.first {
	margin-top: 0 !important;
	margin-left: 0 !important;
}

.last {
	margin-bottom: 0 !important;
	margin-right: 0 !important;
}